.border-contacto {
    border: 2px solid $color-violeta;
    padding: 5%;
}

.titulo-contacto {
    color: $color-violeta;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.back-contacto{
    background: rgb(242, 217, 243);
    background: linear-gradient(90deg, rgba(242, 217, 243, 1) 0%, rgba(175, 150, 176, 1) 60%, rgba(143, 86, 148, 1) 100%);
}